@layer utilities {
  .fade-in {
    @apply opacity-0 transition-opacity duration-700 ease-out;
  }

  .fade-in.show {
    @apply opacity-100;
  }
}

#spotlight {
  @apply fixed top-1/2 left-1/2 w-[600px] h-[600px] z-10 pointer-events-none;
  background: radial-gradient(
    300px circle at center, 
    rgba(255, 107, 107, 0.12), 
    transparent 70%
  );
  mix-blend-mode: screen;
  transform: translate(-50%, -50%);
}